doctype
html(lang="es")
 head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet", href="css/styles.css")
  link(rel="shortcut icon", href="assets/img/favicon.ico", type="image/x-icon")
  title OMDB APP
 body
  block header
   header(data-light).header
    h1.header__title OMDB API

  block main

  block footer
   footer(data-light).footer
    p.footer__p Newman Ferrer - V0.01
        
  block script
   script(src="js/scripts-min.js")
   